* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap'); */

@font-face {
  font-family: "Lato-Thin";
  src: url(./fonts/Lato-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Light";
  src: url(./fonts/Lato-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url(./fonts/Lato-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Black";
  src: url(./fonts/Lato-Black.ttf) format("truetype");
}
:root {
  /* --- config variables --- */
  /* minutes */
  --orange-ripe-minutes: 0.1;
  --tomato-ripe-minutes: 0.1;
  --apple-ripe-minutes: 0.1;
  --pear-ripe-minutes: 15;
  /* animations */
  --pre-ripe-delay: 0.1;
  --pre-ripe-dur: 1;
  --dot-delay: 0.05;
  --success-dur: 0.7;
  /* --- colors ---- */
  --bk-rectangle: rgba(65, 105, 225);
  --col-dot-start: #0ef0e2;
  --col-dot-end: rgb(252, 250, 143);
  /* --color-dot-end: #fcfa8f; */
  --col-fruit-init: #60c0a7;
  --col-apple-end: #fa4646;
  --col-ripe-start: #7af471;
  --col-pear-end: #ddb74f;
  --col-orange-end: #f05e23;
  /* --- dynamic variables --- */
  --ripe-delay: "";
  --orange-ripe-dur: "";
  --tomato-ripe-dur: "";
  --pear-ripe-dur: "";
  --apple-ripe-dur: "";
  --orange-success-start: "";
  --tomato-success-start: "";
  --pear-success-start: "";
  --apple-success-start: "";
}
body {
  font-size: 62.5%;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(204, 204, 204);
}
.container::before {
  filter: opacity(0.4) blur(1px);
  /* filter: blur(4px); */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  background: url(/img/containerBckgrAnim.svg) no-repeat center/100%,
    no-repeat center/100% url(/img/containerBckgrApples.svg);
}
.grape {
  display: none;
  left: 100px;
  bottom: 550px;
  z-index: 100;
  width: 5vw;
  position: absolute;
}
.rectangle {
  position: relative;
  width: 80vw;
  height: 12vw;
  border-radius: 2rem;
  background-color: var(--bk-rectangle);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.clockContainer {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 10vw;
  height: 10vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(152, 172, 231);
  transition: background-color 1s;
  border-radius: 2rem;
}
.clockContainer:hover {
  background-color: rgb(7, 41, 143);
}
.clockContainer > * {
  transform: scale(1);
  height: 100%;
}

.clockContainer > * > svg {
  height: 100%;
  width: 100%;
}
.clockBody svg {
  fill: var(--col-fruit-init);
}
.clockTime {
  font-family: Lato-Black;
  color: var(--col-dot-end);
  font-size: 2.5vw;
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  height: 45%;
}
.clockDot {
  display: block;
  transform: scale(0.8);
  position: absolute;
  z-index: 10;
  height: 100%;
  opacity: 0;
}
.clockDot svg {
  fill: var(--col-dot-start);
}

.clockFace {
  height: 60%;
  transform: rotate(-9.5deg);
  display: none;
  z-index: 10;
  position: absolute;
  margin: 0 auto;
}

.animClockFace {
  display: block;
}

.animClockTime {
  display: none;
}

.animClockDot {
  animation: ticktack var(--pre-ripe-dur) var(--dot-delay) ease forwards;
}

.animClockBody {
  animation: round var(--pre-ripe-dur) var(--pre-ripe-delay)
    cubic-bezier(0.27, 0.82, 0.62, 0.89) 1;
}

.animClockOrange {
  animation: orange1 var(--pre-ripe-dur) var(--pre-ripe-delay) ease 2 alternate,
    orange var(--orange-ripe-dur) var(--ripe-delay),
    orange1 var(--success-dur) var(--orange-success-start) ease-in-out infinite
      alternate-reverse;
}
.animClockFaceOrange {
  animation: round var(--orange-ripe-dur) var(--ripe-delay) linear 1;
}
.animClockTomato {
  animation: apple1 var(--pre-ripe-dur) var(--pre-ripe-delay) ease 2 alternate,
    apple var(--tomato-ripe-dur) var(--ripe-delay),
    apple1 var(--success-dur) var(--tomato-success-start) ease-in-out infinite
      alternate-reverse;
}
.animClockFaceTomato {
  animation: round var(--tomato-ripe-dur) var(--ripe-delay) linear 1;
}
.animClockPear {
  animation: pear1 var(--pre-ripe-dur) var(--pre-ripe-delay) ease 2 alternate,
    pear var(--pear-ripe-dur) var(--ripe-delay),
    pear1 var(--success-dur) var(--pear-success-start) ease-in-out infinite
      alternate-reverse;
}
.animClockFacePear {
  animation: round var(--pear-ripe-dur) var(--ripe-delay) linear 1;
}
.animClockApple {
  animation: apple1 var(--pre-ripe-dur) var(--pre-ripe-delay) ease 2,
    apple var(--apple-ripe-dur) var(--ripe-delay),
    apple1 var(--success-dur) var(--apple-success-start) ease-in-out infinite
      alternate-reverse;
}
.animClockFaceApple {
  animation: round var(--apple-ripe-dur) var(--ripe-delay) linear 1;
}

@keyframes ticktack {
  from {
    fill: var(--col-dot-start);
    opacity: 0;
    transform: rotate(0deg);
  }

  to {
    fill: var(--col-dot-end);
    opacity: 1;
    transform: rotate(355deg);
  }
}
@keyframes orange1 {
  from {
    fill: var(--col-ripe-init);
  }

  to {
    fill: var(--col-orange-end);
  }
}
@keyframes orange {
  from {
    fill: var(--col-ripe-start);
  }

  to {
    fill: var(--col-orange-end);
  }
}
@keyframes apple1 {
  from {
    fill: var(--col-ripe-init);
  }

  to {
    fill: var(--col-apple-end);
  }
}
@keyframes apple {
  from {
    fill: var(--col-ripe-start);
  }

  to {
    fill: var(--col-apple-end);
  }
}
@keyframes pear1 {
  from {
    fill: var(--col-ripe-init);
  }

  to {
    fill: var(--col-pear-end);
  }
}
@keyframes pear {
  from {
    fill: var(--col-ripe-start);
  }

  to {
    fill: var(--col-pear-end);
  }
}

@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .clock {
  animation: d 3s;
}
@keyframes d {
  100% {
    transform: rotate(270deg);
  }
} */
/* @keyframes apple {
  from {
    fill: #60c0a7;
  }
  to {
    fill: #7cc060;
  }
  to {
    fill: #b7c060;
  }
  to {
    fill: #f0a94e;
  }
  to {
    fill: #f0854e;
  }

  to {
    fill: #fa4646;
  }
} */

/* .clock:first-child:hover {
  background: linear-gradient(
    88deg,
    #60c0a7,
    #7cc060,
    #b7c060,
    #f0a94e,
    #f0854e,
    #f0534e
  );
  background-size: 1200% 1200%;

  animation: apple 20s 0.1s ease 0.5 forwards;
} */

/* ////////////////for a shadowy watch/////////////

.clockContainer:hover .clockFace {
  -webkit-box-shadow: 0px 0px 142px 70px rgba(153, 31, 153, 1);
  -moz-box-shadow: 0px 0px 142px 70px rgba(153, 31, 153, 1);
  box-shadow: 0px 0px 142px 70px rgba(153, 31, 153, 1);
  display: block;
}

///////////////////////////////////// */

/* ------------------- bootstrap break points: */

/* Extra small devices (xs) - portrait phones,
under 576 px - no media query,
default in Bootstrap Small (sm) devices - landscape phones,
576 px and up - @media (min-width: 576px) {
  ...;
}

Medium (md) devices - tablets,
768 px and up - @media (min-width: 768px) {
  ...;
}

Large (lg) devices - desktops,
992 px and up - @media (min-width: 992px) {
  ...;
}

Extra large (xl) devices - large desktops,
1200px and up - @media (min-width: 1200px) {
  ...;
} */

/* ////////////////////////////////////// */

@media only screen and (max-width: 420px) {
  .container {
    background-size: cover;
    background: center, url(/img/containerBckgrApples.svg);
  }
  .rectangle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .clockContainer {
    display: flex;
    width: 10vw;
    height: 10vw;
    min-height: 42%;
    min-width: 40%;
  }
  .rectangle {
    /* height: 14rem; */
    height: 70vw;
    width: 70vw;
  }
  .clockTime {
    transform: translateY(0.7rem);
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 991px) and (min-width: 769px) {
  .rectangle::before {
    border-radius: 2rem;
    position: absolute;
    content: "";
    height: 20vw;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.466);
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    margin: 0 5%;
  }
}
